//---------------------- breakpoints ------------------------------
$tablet: 768px;
$desktop: 1200px;

// --------------------- Font Color --------------------------------
    $header-color: #000000;
    $primary-paragraph-color: #808080;
    $secondary-paragraph-color: #5F5744;
    $third-paragraph-color: #272727;
    $fourth-paragraph-color: #CCCCCC;
    $primary-button-font-color: antiquewhite;
    $primary-footer-header: #514B19;
    $link-color: #fff;
    $hover-black: black;

// --------------------- Background Colors --------------------------------
    $primary-header-bgcolor: #d5caaa;
    $search-bgcolor: white;
    $primary-button-color: #c2af7a; 
    $primary-button-hover: #b39a7b; 
    $search-hover-color: #f8f0db55;
    $footer-primary-bgcolor: #c8bfa4;
    $black-bg: #000000;
    $secondary-header-bgcolor: #191919;

    // --------------------- Borders --------------------------------
    $white-border-color: 1px solid #ccc;
    $grey-border-color: 1px solid grey;
    $black-border: 0.5px solid rgba(0, 0, 0, 0.192);
    $secondary-black-border: 1px solid black;
    $secondary-white-color: 1px solid white;

    // --------------------- Shadows --------------------------------
    $search-suggestion-shdw: 5px 2px 4px rgba(0, 0, 0, 0.1);