// .cartContainer {
//     background-color: #fff;
//     border: 1px solid #ddd;
//     padding: 20px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     position: fixed;
//     top: 20%;
//     right: 20px;
//     width: 300px;
//     z-index: 1000; 
//     display: none; /* Initially hide the cart */
//   }
#cartImg {
  background-color: green;
  width: 50px;
  height: 50px;
}


#cart {
  color: #464134;
  box-shadow: 10px 10px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
  background-color: white;
  opacity: 0.95;
  display: grid;
  grid-template-rows: 50px 1fr 60px 60px;
  border-left: solid 2px #c2af7a;
  display: none;
  z-index: 2;

  /* Initially hide the cart */
  #cartH3 {
    margin: 10px;
    font-size: 1.3em;
  }

}

#cartContent {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  border-bottom: solid 1px #c2af7a;
  border-top: solid 1px #c2af7a;
  padding: 10px 5px;
}

#productContent {
  display: flex;
  justify-content: space-between;
}

#goToCheckoutBtn {
  display: flex;
  width: 100%;
  justify-content: space-around;

  .cartButtons {
    width: 45%;
    height: 80%;
    margin-bottom: 5px;
    font-size: 1.1em;
    background-color: #b39a7b;
    border: none;
    border-radius: 10px;
    color: white;
    &:hover{
      background-color: white;
      box-shadow: inset 0px 0px 9px 1px #b39a7b;
      color: #b39a7b;
    }
  }

}

#amount {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgb(108, 68, 28);
  margin: 10px;
}

#itemQuantity {
  padding: 10px;

  .cartBtnQuantity {
    width: 20px;
    height: 20px;
    border-color: #b39a7b;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 1px 0px 5px 2px #b39a7b;
    &:active{
      background-color: #b39a7b;
    }
  }
}

#cart.show {
  display: grid;
}


// .cartContainer.show {
//   display: block;
// }

// .cartContainer h1 {
//   font-size: 1em;
//   margin-bottom: 10px;
// }

// .gotoCheckoutbtn {
//   background-color: #000000;
//   color: #fff;
//   padding: 10px;
//   border: none;
//   cursor: pointer;
//   width: 100%;
//   margin-bottom: 10px;
//   font-size: 1em;
// }

// .productCard {
//   //Style this later
// }

// .productCard .product {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   border-bottom: 1px solid #ddd;
//   padding: 10px 0;
// }