@use "mixins" as m;

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter:wght@300&display=swap');
@import url(/src/scss/cart.scss);
@import url(/src/scss/hamburger.scss);
@import url(/src/scss/skotselrad.scss);
@import url(/src/scss/omOss.scss);
@import url(/src/scss/contactUs.scss);
@import "../scss/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  
    label {
      display: block;
      margin-bottom: 5px;
      color: #333; /* Dark gray color */
    }
  
    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
  
  .checkoutBtn {
    padding: 10px;
    background-color: $black-bg;
    color:$link-color; /* White color */
    border: $black-border;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkoutBtn:hover {
    transition: 0.5s;
    background-color: $container-bg-color;
    color: $black-bg;
    border: $black-border;
  }
  
  
  .checkout-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h1 {
      color: $primary-footer-header;
      margin-bottom: 10px;
    }
  }

.product-details {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  #checkout-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#toPayCart {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.checkout-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkoutBtn {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkoutBtn:hover {
    transition: 0.5s;
    background-color: #555;
}

.plant-image {
    width: 10%;
}

.quantity-button {
  padding: 1px;
  margin: 2px;
  border-radius: 5px;
  width: 25px;
  color: $link-color;
  background-color: $black-bg;
  box-shadow: $expert-button-shadow;
  margin-bottom: 25px;

  &:hover {
    transition: 0.5s;
    background-color: $link-color;
    border: $black-border;
    color: $black-bg;
  }
}

