* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skotselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
    letter-spacing: -.05em;
    margin-bottom: 50px;
}

.skotselHeader {
    font-family: 'Cabinet', sans-serif;
    font-size: 24px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    max-width: 32ch;
}

.skotselParagraph {
    max-width: 80%;
    font-weight: 400;
    font-family: "Larish Neue Semibold", Georgia, Times, serif;
    font-size: 17px;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    max-width: 95%;
    color: rgb(123, 123, 123);
}

.skotselSecondHeader {
    font-family: "Larish Neue Semibold", Georgia, Times, serif;
    font-size: 24px;
    font-style: normal;
    text-transform: none;
    line-height: 1.2;
    margin: 0px;
    color: rgb(99, 76, 25);
    text-align: inherit;
}

#skotselCardContainers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Larish Neue Semibold", Georgia, Times, serif;
}

.skotselcardImg {
    margin-top: 15px;
    max-width: 350px;
}

.skotselcardDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 48%; // Adjusted width

    p {
        text-align: left;
        word-break: break-word;
        font-family: Spectral, "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 0px;
        max-width: 80%;
    }
    h2 {
        font-family: "Larish Neue Semibold", Georgia, Times, serif;
        font-size: 22px;
        font-style: normal;
        text-transform: none;
        line-height: 1.5;
        color:  rgb(99, 76, 25);
        display: block;
        margin: 0px 0px 1rem;
        text-decoration: none;
        word-break: break-word;
    }
}

.expertContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d8d2ba82;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.roundImage {
    margin: 0px 0px 1.5rem;
}

.expertHeader {
    font-family: "Messina Sans Condensed", Impact, Charcoal, sans-serif;
    font-size: 24px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0px 0px 1rem;
    color: rgb(96, 88, 66);
    letter-spacing: 1px;
    text-align: center;
}

.expertParagraph {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.2px;
    max-width: 90%;
}

button.expertButton {
    appearance: none;
    background: rgb(0, 0, 0);
    border: none;
    margin: 1.5rem 0px 25px;
    font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    min-width: 48px;
    padding: 0px 2rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 150ms linear 0s;
    border-radius: 40px;
    text-transform: none;
    box-shadow: rgb(50, 50, 93) 2px 2px 5px -12px, rgba(0, 0, 0, 0.847) 0px 3px 7px -3px;

    &:hover {
        background-color: #f1f1f1;
        color: black;
        transition: 1s;
        border: 1px solid rgb(99, 76, 25);
        box-shadow: rgba(50, 50, 93, 0.777) 0px 6px 12px -2px, rgba(0, 0, 0, 0.852) 0px 3px 7px -3px;
    }

    &:active {
        background-color: #f1f1f1;
        color: black;
        transition: 1s;
        border: 1px solid rgb(99, 76, 25);
        box-shadow: rgba(50, 50, 93, 0.777) 0px 6px 12px -2px, rgba(0, 0, 0, 0.852) 0px 3px 7px -3px;
    }
}


@media screen and (max-width: 768px) {
    .skotselcardDiv {
        margin-top: 15px;
        width: 80%; // Full width on smaller screens
        margin-right: 0; // No right margin
        margin-left: 0; // No left margin
        border: 1px solid gray;
        border: 1px solid #f1f1f1;
        padding: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

    p {
        text-align: center;
        margin-bottom: 15px;
        }
        h2 {
            margin-top: 15px;
            text-align: center;
        }
    }
}