@use "mixins" as m;
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter:wght@300&display=swap');
@import url(/src/scss/cart.scss);
@import url(/src/scss/hamburger.scss);
@import url(/src/scss/skotselrad.scss);
@import url(/src/scss/omOss.scss);
@import url(/src/scss/contactUs.scss);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

//Navigation Bar

.navOnecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d5caaa;
}

.logo {
  width: 180px;
  margin-left: 20px;
}

.wishlistIcon {
  width: 30px;
}

.cartIcon {
  width: 30px;
}

.hamburgerIcon {
  width: 70px;
}

// .navTwocontainer {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   padding: 20px;
//   border-bottom: 1px solid black;
//   background-color: #d5caaa;
// }

.searchIcon {
  width: 35px;
  border-style: none;
  background-color: white;
  border-radius: 20px;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: white;
}

.inputSearchbar {
  //The actual searchbar input
  width: 300px;
  padding: 10px;
  border-style: none;
  outline: none;
  border-radius: 20px;
}

//-----------------

//Main

.heroContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroImage {
  width: 560px;
  margin-top: 15px;
  max-width: 100%;
  border-radius: 20%;
}

.heroHeader {
  margin-top: 10px;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
}

.heroParagraph {
  margin-top: 10px;
  font-family: 'Cabin', sans-serif;
  color: gray;
  font-weight: 400;
  text-align: center;
  max-width: 80%;
}

.heroButton {
  color: antiquewhite;
  font-size: 15px;
  margin-top: 15px;
  font-family: 'Cabin', sans-serif;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 200;
  background-color: #c2af7a;
  border-style: none;
  margin-bottom: 20px;

  &:hover {
    background-color: #b39a7b;
  }
}


//Month Container
.monthContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monthImage {
  width: 560px;
  margin-top: 15px;
  max-width: 100%;
  // border-radius: 3%;
}

.monthHeader {
  margin-top: 20px;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.monthParagraph {
  margin-top: 10px;
  font-family: 'Cabin', sans-serif;
  color: gray;
  font-weight: 400;
  text-align: center;
  max-width: 80%;
}

.monthButton {
  color: antiquewhite;
  font-size: 15px;
  margin-top: 15px;
  font-family: 'Cabin', sans-serif;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 200;
  background-color: #c2af7a;
  border-style: none;
  margin-bottom: 20px;

  &:hover {
    background-color: #b39a7b;
  }
}

//Month Deal
.monthDeal {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monthDealHeader {
  margin-top: 25px;
  font-family: 'Cabin', sans-serif;
  text-align: left;
  margin-left: 15px;
  @include m.desktop{
    text-align: center;
  }
}

.monthdealImage {
  width: 560px;
  margin-top: 15px;
  max-width: 95%;
  // border: 1px solid black;
  border-radius: 2%;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

.bestSellerHeader {
  font-family: 'Cabin', sans-serif;
  text-align: left;
  margin-top: 25px;
  margin-left: 15px;

  @include m.desktop {
    text-align: center;
  }
}

#productsLandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  #showPlant {
    width: 100vw;

    @include m.tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

    }
  }

}

.plant {
  border: 4px double #b39a7b;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 6px 1px #b39a7b;

  @include m.tablet {
    width: 40vw;
  }

  @include m.desktop {
    width: 20vw;
  }
}

img {
  max-width: 70%;
  /* Ensure images don't exceed their container */
}

//Search field

.navTwocontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: #d5caaa;

  .searchIcon {
    width: 35px;
    border-style: none;
    background-color: white;
    border-radius: 20px;
  }

  .searchDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;

    .inputSearchbar {
      width: 300px;
      padding: 10px;
      border-style: none;
      outline: none;
      border-radius: 20px;
      z-index: 2;
    }

    .searchSuggestions {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
      list-style: none;
      padding: 0;
      display: none;
      z-index: 1;
      border-radius: 15px;

      li {
        padding: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cabin', sans-serif;

        &:hover {
          background-color: #f8f0db55;
          border-radius: 15px;
        }

        &.suggestion-item {
          border-bottom: 1px solid #ccc;
        }
      }
    }

    .suggestion-content-container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 2em;
      margin-right: 5em;
    }

    .suggestion-image {
      width: 5em;
    }

    .suggestion-text {
      font-family: 'Cabin', sans-serif;
      font-size: 1.3em;
      margin-top: 1rem;
    }

    .inputSearchbar:focus+.searchSuggestions {
      display: block;
    }

  }
}

// //Footer Section
// .footerInitializer {
//   padding-top: 30px;
// }


.waveOne {
  width: 100%;
  height: 61vw;
  max-width: none;
  margin-bottom: 0;
  display: block;
}

.theFooter {
  background-color: #c8bfa4;
  margin-top: 0;
}

.footerTermContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 0 auto;
}

.footerParagraph {
  margin-top: 25px;
  padding: 0px;
  font-family: Spectral, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  display: flex;
  color: rgb(95, 87, 68);
  align-items: center;
  align-self: center;
  margin-top: 4.5rem;
  max-width: 60%;
}

.klarnaLogo {
  margin-top: 25px;
  max-width: 30%;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-top: 2.5rem;
}

//Footer Social Media
.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 2.5rem;
  border-top: 0.5px solid rgba(0, 0, 0, 0.192);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.192);
  padding: 10px;
}

.instaLogo {
  width: 25px;

  &:hover {
    cursor: pointer;
    animation: socialAnimation 3s ease 0s 1 normal forwards;
  }
}

.xLogo {
  width: 38px;

  &:hover {
    animation: socialAnimation 3s ease 0s 1 normal forwards;
    cursor: pointer;
  }
}

.metaLogo {
  width: 23px;

  &:hover {
    animation: socialAnimation 3s ease 0s 1 normal forwards;
    cursor: pointer;
  }
}

@keyframes socialAnimation {

  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

//Footer Membership Form
.memberContainer {
  margin-top: 4.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.memberHeader {
  font-family: "Larish Neue Semibold", Georgia, Times, serif;
  font-size: 24px;
  font-style: normal;
  text-transform: none;
  line-height: 1.2;
  color: rgb(81, 75, 25);
  margin: 0px 0px 0.5rem;
  text-align: center;
  max-width: 80%;
}

.memberParagraph {
  font-family: Spectral, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(39, 39, 39);
  margin: 0px 0px 1.5rem;
  text-align: center;
}

.memberButton {
  position: relative;
  appearance: none;
  background: rgb(0, 0, 0);
  border: none;
  margin: 0px;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  min-height: 48px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 0 1 auto;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  min-width: 48px;
  padding: 0px 2rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 150ms linear 0s;
  border-radius: 100px;
  text-transform: none;

  &:hover {
    background-color: #c8bfa4;
    border: 1px solid black;
    color: black;
    transition: 0.8s;
  }
}

//Customer Service
.footerTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waveSupport {
  width: 100%;
  height: 61vw;
  max-width: 100% !important;
  margin-bottom: 0;
  display: block;
}

.secondFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  color: #ccc;
  width: 100%;
  padding-bottom: 10px;
}

.supportContainer {
  margin-top: 4.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.supportHeader {
  background-color: #191919;
  font-family: "Messina Sans Condensed", Impact, Charcoal, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ccc;
  margin: 0px 0px 0.5rem;
}

.supportParagraph {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin: 0px 0px 1.5rem;
  padding: 0px 1.5rem;
}

.supportButton {
  appearance: none;
  background: #c8bfa4;
  margin: 0px;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  min-height: 48px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 0 1 auto;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  min-width: 48px;
  padding: 0px 2rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 150ms linear 0s;
  border-radius: 100px;
  text-transform: none;
  border: 1px solid rgb(0, 0, 0);
  white-space: nowrap;

  &:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
    transition: 0.8s;
  }
}

//Information Links
.infoLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
  background-color: #191919;
  gap: 15px;
}

.infoahref {
  list-style: none;
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footerLogo {
  width: 180px;
  margin-left: 20px;
  margin-top: 4.5rem;
}

.footerCopyright {
  margin-bottom: 2.5rem;
}