@import url(/src/scss/cart.scss);
@import url(/src/scss/hamburger.scss);

.vaxterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vaxterImage {
    width: 560px;
    margin-top: 15px;
    max-width: 100%;
}

.vaxterHeader {
    font-family: 'Cabin', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

.vaxterParagraph {
    font-family: 'Cabin', sans-serif;
    line-height: 1.5;
    text-align: center;
    border-bottom: 1px solid #c5c3c3;
    margin-bottom: 25px;
}

// Typescript generated products styling

.plantContainerParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.plantContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 10px;
}

.itemContainer {
    width: 100%;
    text-align: center;
    border: 1px solid #f1f1f1;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

p {
    font-family: 'Cabinet', sans-serif;
    text-align: center;
}

h1:hover {
    color: rgb(41, 41, 41);
}

// .directionContainer {
//     flex: 0 0 calc(40% - 20px); 
//     margin: 20px; 
// }

// #productParent {
//     display: flex;
//     flex-direction: row;
//     flex-flow: row;
//     justify-content: end;
// }